html,
body,
#app {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  // font-size: 14px;
}

html.dark {
  color: white;
  --el-color-primary: #409EFF;
  --hover-bg-color: rgba(51,51,51);
  --bg-fill-1: #0D0E0E;
  --bg-fill-2: #1B1B1C;
  --bg-fill-3: #28292A;
  background-color: var(--bg-fill-1);
}

html.light {
  --el-color-primary: #409EFF;
  --hover-bg-color: #eee;
  --bg-transparent: transparent;
  --bg-fill-1: #FFFFFF;
  --bg-fill-2: #f6f9f8;
  --bg-fill-3: #FFFFFF;

  background-color: var(--bg-fill-1);
  // box-shadow: ;
}
